

.footer{
    background-color: #333;
    height: 300px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: -1;
}
.footer-bottom{
    position: absolute;
    bottom: 20px;

}
.footer-bottom p {
    font-weight: bolder;
}
.footer_content {
    display:flex;
    column-gap: 40px;
    justify-content: center;
    
}
.footer_line{
    width:2px; 
    height: 100px;
    background:#FFF;
    align-self: center;
}

.navbar.collapsed + .footer {
    padding-left: 80px; /* Same as the collapsed width of the sidebar */
}
.footer-section{
    display:flex;
    flex-direction:column;
    row-gap: 15px;
}
.historique_header_name{
    padding-top: 30px !important;
}
.footer-section a, .footer-section p{
    color : #FFFFFF
}
.footer-section h3{
    color : #A8B0BB;
    font-weight: bold;
    margin-bottom: 10px;
}
.social_media{
    display:flex;
    font-size: 25px;
    width:80px;
    flex-wrap: wrap;
}
.social_media i{
   width:40px;
   height: 40px;
}
.footer-bottom{
    color : #FFFFFF;
}
.toggle-mobile{
    display:none;
}
#dark_responsive{
    display: none;
}
#profile_responsive{
    display: none;
}

@media screen and (max-width: 1130px) {
    .main-content:first-of-type {
        padding-left: 80px !important; /* Same as the collapsed width of the sidebar */
    }
      .navbar_container_index{
        z-index: 999;
        position: relative;
    }
    .track-info{
        width:150px;
    }
}

@media screen and (max-width: 800px) {
    .repeat_et_volume{
        column-gap: 10px;
    }
    .footer {
        height: auto;
        padding: 10px;
    }

    .footer_content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        align-items: center;
        text-align: center;
    }

    .footer_line {
        display: none; /* Hide the dividers on smaller screens */
    }

    .social_media {
        justify-content: center;
        margin-top: 15px;
    }

    .footer-section a, .footer-section p {
        font-size: 14px; /* Adjust font size for readability */
    }

    .footer-bottom {
        position: relative; /* Adjust the position */
        bottom: 0;
        padding-top: 20px;
    }
}
@media screen and (max-width: 900px) {
    .playlist_list{
        width:80% !important;
    }
}
@media screen and (max-width: 700px) {
    .dark{
        display: none;
    }
    .profile_btn{
        display: none;
    }
    #dark_responsive{
        display: block;
    }
    #profile_responsive{
        display: block;
    }
    #volumeSlider{
        width:85px
    }
    .custom-audio-player{
        padding-left: 10px;
        padding-right: 10px;
    }
    .playlist_list{
        width:90% !important;
        margin-left: 10px !important;
    }
    .playlist-info-list{
        column-gap:0px !important;
    }
    .historique_nom {
        
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 480px) {
    #albumCover {
        width:20px;
        margin-right: 10px;
    }
    #songName{
        font-size:13px;

    }
    .playlist_list{
        width:97% !important;
        margin-left: 10px !important;
    }
    #volumeSlider{
        width:65px;
    }
    .track-info {
        width: 83px;
    }
    .time-info {
        font-size: 10px;
        
    }
    .icon_duree {
        right: 98px !important; 
    } 
    .playlist_icons_list{
        column-gap: 10px !important;
    }
    .playlist_icons{
        column-gap: 0px !important;
    }
    #artistName{
        font-size: 12px;
    }
    .controls{
        width:45%;
    }
    #volumeIcon {
        width:20px;
        font-size: 16px;
    }
    .player-flex{
        width:90px;
    }
    #prevBtn, #nextBtn{
        width:25px;
        height:25px;
        font-size: 16px;
    }
    #playPauseBtn{
        width:30px;
        height:30px;
        font-size:16px
    }
    #repeatBtn {
        font-size: 16px;
    }
    .main-content:first-of-type {
        padding-left: 0px !important; /* Same as the collapsed width of the sidebar */
      }
    
    .footer-section h3 {
        font-size: 16px;
    }
   
    .social_media i {
        font-size: 20px; /* Adjust icon size for better tap targets */
    }

    .footer-section a, .footer-section p {
        font-size: 12px; /* Smaller font size for very small screens */
    }
    .search_and_icons{
        margin-left: 50px !important;
    }
    .no_header_search{
        padding-top: 10px !important;
        margin-bottom: 57px !important;

    }
    .barre-recherche{
        min-width: 280px !important;  
    }
    .toggle-mobile{
        display:block;
        position : absolute;
        top:10px;
        left: -310px;
    }
    
    .navbar.collapsed {
        width: 0px; /* Collapsed width */
      }
    .navbar.collapsed + #content {
    padding-left: 0px !important; /* Same as the collapsed width of the sidebar */
    }
   
   
}