.header-info{
    margin-left: 10%;
    width:400px;
}

a {
    transition: opacity 0.3s ease-in-out;
}
a:hover {
    opacity: 0.7;
}

.header-info p{
    color: rgba(65, 61, 61, 0.72);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
    width:400px;
}

.header-info h1{
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width:400px;
}

.header-info h1 span{
    color: #307AD0;
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.longer{
   width:fit-content !important; 
}

.longer h1{
    width:fit-content !important; 
    font-size: 1.8rem !important;
}

.longer span{
width:fit-content !important; 
font-size: 1.8rem !important; 
}
/* -------------carousel------------ */
.block_albums_accueil{
    display:flex;
    flex-direction: column;
}
.carousel {
    position: relative;
    width: 83%;
    overflow: hidden;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    margin-right: -1%; 
}

.voir_plus{
    text-align: right;
    color : #969393;
    font-size: 1.2rem;
    position: absolute;
    right:9%;
}
.carousel_et_bouttons{
    display:flex ; 
    justify-content: center; 
    align-items: center;
    column-gap: 20px;
    
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition for sliding effect */
    will-change: transform; /* Optimizes animations */
}
.carousel-item {
    flex: 0 0 17.6%;
    margin-right:2.5%;
    position: relative;
}



.carousel-item a {
    display: block;
    text-decoration: none;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    column-gap: 4%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.carousel-item figure {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
}

.overlay:hover  {
    opacity: 1;
}

.like-btn  {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    padding: 0;
}
.playlist_menu_btn{
    background-color: #307AD0;
    color: white;
    border: none;
    border-radius: 1000px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width:42px;
    height:42px;
    margin-bottom: -5px;  
} 

.playlist_menu_btn i{
    color: #ffff;
}

.carousel-prev-btn {
    width: 40px;
    height: 40px;
    background-color: #307AD0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    border-radius: 100px ;
    margin-bottom: 10px;
}
.carousel-next-btn{
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #307AD0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    border-radius: 100px ;
    
    
}
.like_btn{
    background-color: #307AD0;
    color: white;
    border: none;
    border-radius: 1000px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width:42px;
    height:42px;
    margin-bottom: -5px;

}
.like_btn i{
    color: #ffff;
}
.carousel-prev-btn:hover,
.carousel-next-btn:hover {
    opacity: 1;
}
.album_titre{
color: #000;
font-family: "Open Sans";
font-size: 1.0625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.album_auteur{
color: rgba(0, 0, 0, 0.47);
font-family: "Open Sans";
font-size: 0.85rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.inline{
    display: flex;
    flex-wrap: wrap;
    
}
.inline p{
    color: rgba(0, 0, 0, 0.47);
    font-family: "Open Sans";
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ---------------menu playlist---------------- */
    .playlist {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px 10px 0 10px;
        z-index: 9999;
    }

    .playlist input[type="text"] {
        width: 150px;
        padding: 5px 20px 5px 5px;
        margin-right: 10px;
    }

    .playlist button {
        margin-left :-30px;
        background-color: transparent;
        color: #696868;
        border: none;
        cursor: pointer;
        font-size: 25px;
        
        
    }
    

    .playlist ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }

    .playlist li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }
    .playlist li:last-child {
        border-bottom: none;
        margin-bottom: 0px;
    }

    .playlist li a {
        text-decoration: none;
        color: #333;
        margin-right: 10px;
        width :105px;
    }

    .playlist li button {
        padding: 5px 10px;
        background-color: transparent;
        color: #696868;
        border: none;
        font-size: 15px;
        cursor: pointer;
        margin-left: 0px;
    }
 /* ---------------menu-contextuel---------------------- */
 .menu-contextuel {
    position: absolute;
    display:none;
    z-index: 1000;
    
}

.menu-actif {
    display: block; /* Ensure it's always block */
}


/* ---------------------------------- section groupes---------------------------------  */
.info2{
    margin-top: 40px;
}
.header-info-search{
    margin-left: 10%;
    width:400px;
    margin-top: 50px;
    
}
.header-info-search h1{
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width:400px;
}
.header-info-search h1 span{
    color: #307AD0;
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.GroupeListAccueil{
    position: relative;
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 40px auto 100px auto;
}

.GroupeItem{
    flex: 0 0 14.5%;
    margin-right:2.6%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img_container{
    position: relative;
    
}
.img_container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%; 
    height: 30%;
    background-color: white; /* Color of the circle */
    border-radius: 50%; /* Makes the pseudo-element circular */
    transform: translate(-50%, -50%); /* Centers the pseudo-element */
}


.imgGroupeAccueil {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.imgGroupeAccueil:hover {
    animation: rotateOnce 1.5s;
}

@keyframes rotateOnce {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.record_label {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
}

/* ----------------------------- page liste des groupes ------------------- */


.list_title{
    margin-top: 50px;
    
}

.all_items_List{
    display:flex;
    flex-wrap: wrap;
    width:100% !important;
    row-gap: 20px;
    margin:15px auto 60px auto;

}
.single_groupe{
    flex: 0 0 14%;
    margin-right:2.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
} 
.groupe_label{
color: #5F5C5C;
font-family: "Open Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.groupeImg{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 5px;
    
}
.barre2 {
    border:1px solid black !important;
    
}
.list_search{
    align-self: end;
    margin-right: 5%;
}
.GroupeListGroupe{
    margin-bottom: 40px;
}

.block_list_and_search{
    display: flex;
    flex-direction: column;
    width:85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    
}



@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.single_groupe {
    animation: fadeIn 0.5s;
}

/* ----------------- page liste des genres ------------------- */


.grid-container {
    display: grid;
    grid-template-columns: repeat(21, 3.7%);
    grid-template-rows: repeat(12, 1.7%px);
    gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.grid-container a {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
}
.grid-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.grid-container a img:hover {
    filter: brightness(0.5) blur(10px);
    transform: scale(1.2);
    transition-delay: 0.5s;
}

.carte_genre:hover .genre_grid_label {
    opacity: 1;
    transition-delay: 0.6s;
}

.genre_grid_label {
    position: absolute;
    color: #FFF;
    font-family: "Roboto Slab";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0; /* Make the label fully transparent by default */
    transition: opacity 0.5s ease; /* Animate the opacity */
    pointer-events: none; /
}

.grid-container a figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.grid-container a:nth-child(1) {
    grid-column: auto / span 8;
    grid-row: auto / span 8;
}
.grid-container a:nth-child(2) {
    grid-column: auto / span 5;
    grid-row: auto / span 5;
}
.grid-container a:nth-child(3) {
    grid-column: auto / span 8;
    grid-row: auto / span 8;
}.grid-container a:nth-child(4) {
    grid-column: auto / span 5;
    grid-row: auto / span 7;
}
.grid-container a:nth-child(5) {
    grid-column: auto / span 4;
    grid-row: auto / span 4;
}
.grid-container a:nth-child(6) {
    grid-column: auto / span 4;
    grid-row: auto / span 4;
}
.grid-container a:nth-child(7) {
    grid-column: auto / span 8;
    grid-row: auto / span 4;
}

.carte_genre {
    transition: transform 0.3s ease ;
}

.carte_genre:hover {
    transform: scale(1.03);
    opacity: 0.95 ! important;
}

.genreImg{
    width: 100%;
    height: 50%;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 5px;
}




.single_genre{
    flex: 0 0 30%;
    margin-right:2.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s;
}

/* ----------------page liste des albums----------------- */

.search_album{
    padding-left: 2%;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }