.pages_populaires{
    display:flex; 
    width: 85%;
    margin : 60px auto 30px auto;
}
div.post-head1 > div > img {
    height: 40px;
}
.single_page_populaire{
    flex: 0 0 23%;
    margin-right:2%;
    position: relative;
    transition: all 0.5s;
    
}
.oeuvre1 a{
    font-family: "open sans";
    font-weight: 600;
    text-decoration: none;
    color:rgb(55, 55, 55);
    font-size: 1.1rem;
}
/* Page album */
td p{
    font-family: "roboto slab";
}
/* ===== version mobile ===== */

.album-title h1 button > i {
    font-size: 24px;
    color:#307AD0;
}
main.container1 button{
    color:#307AD0;
}
.detail i{
    color:#307AD0;
    display:none;
}
main.container1 button {
    border: none;
    outline: none;
    background-color: transparent !important;

}
td{
    position: relative;
}
main.container {
    width: 100%;
    margin-inline: auto;
}

div.album-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.album-title > p:first-child {
    color:#ABABAB;
    font-size: 1.5em;
    font-family: "roboto slab";
}

div.album-title > h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}

section.album-present {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

div.detail > div {
    display: flex;
    align-items: center;
}

div.detail > div > button {
    display: none;
}

div.detail > div > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

div.detail > div > p {
    font-weight: 600;
    color: var(--clr-light-dark);
}

div.detail > div > p:nth-last-of-type(n+2)::after {
    content: "•";
    margin-inline: 8px;
}

section.album-present > img {
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius:15px;
    border: 1px solid var(--clr-grey);
}

/* Section tableau des titres */

/* ===== version mobile ===== */

section.main-content1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

section.main-content1 table thead {
    border-bottom: 1px solid var(--clr-grey);
}

section.main-content1 table thead th:first-child {
    width: 10%;
    text-align: start;
}

section.main-content1 table thead th:nth-child(2) {
    max-width: 60%;
    text-align: start;
}

section.main-content1 table thead th:nth-child(3) {
    width: 10%;
}

section.main-content1 table thead th {
    padding: 10px 0;
    font-weight: 600;
    color: var(--clr-light-dark);
}

section.main-content1 table tbody > tr > td:not(:nth-child(4)) {
    padding: 15px 0;
    font-weight: 600;
}

section.main-content1 table tbody > tr > td:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 1px;
}

section.main-content1 table tbody > tr > td:nth-child(2) span {
    color: var(--clr-light-dark);
    font-weight: normal;
    font-family: "open sans";
    font-weight: 400;
}
tr p{
    font-family: "open sans";
    font-size: 18px;
    font-weight: 500;
}

section.main-content1 table tbody > tr i.fa-heart {
    color: var(--clr-sweet-blue);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

section.main-content1 table tbody > tr i.fa-plus {
    color: var(--clr-sweet-blue);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

section.main-content1 table tbody > tr i.fa-heart:hover,
section.main-content1 table tbody > tr i.fa-plus:hover {
    color: #2c6aa0;
}

section.main-content1 table thead th:nth-child(4) {
    text-align: center;
}

section.main-content1 table tbody > tr > td:nth-child(4) {
    text-align: center;
}

section.main-content1 table thead th:nth-child(3) {
    width: 25px;
}

section.main-content1 table thead th:first-child {
    width: 35px;
}

/* Section autres oeuvres */

section.other1 {
    margin-block: 30px;
}

section.other1 > h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "roboto slab";
}

div.oeuvres1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

div.oeuvres1 > div img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10px;
}
.single_page_populaire:hover{
    scale:1.02;
}
.single_page_populaire a:hover{
    opacity: 1 !important;
}
.single_page_populaire img{
    width: 100%;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    border-radius: 10px;
    border:1px solid rgba(95, 94, 94, 0.452);
}
.single_page_populaire p{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    width:30%;
    border:1px solid rgb(95, 94, 94);
}
.single_page_nom a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
    transition: all 0.3s;
   
}
.single_page_nom a:hover{
    opacity: 0.5 !important;
}
.single_page_nom{
    display:flex ; 
    position :absolute;
    bottom:15px;
    left:10px;
    background-color: rgb(0, 0, 0);
    color: white;
    max-width:90% ;
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    border:1px solid rgb(95, 94, 94);
    align-items: center;
}

/* -----------------show page ---------------------- */
:root {
    --clr-sweet-blue: #307AD0;
    --clr-light-grey: #f7f7f7;
    --clr-light-dark: #585858;
    --clr-grey: #bbbbbb;
}

*::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}



.sidebar {
    position: sticky;
    top: 0;
    width: 280px;
    height: 100vh;
    background-color: rgba(112, 159, 221, 0.216);
    display: none;
}

/* Section hero bannière page artiste */

/* ===== version mobile ===== */

:root {
    --clr-sweet-blue: #307AD0;
    --clr-light-grey: #f7f7f7;
    --clr-light-dark: #585858;
    --clr-grey: #bbbbbb;
}

*::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}



.sidebar {
    position: sticky;
    top: 0;
    width: 280px;
    height: 100vh;
    background-color: rgba(112, 159, 221, 0.216);
    display: none;
}

/* Section hero bannière page artiste */

/* ===== version mobile ===== */

section.hero {
    height: 160px;
    color: #fff;
    display: flex;
    align-items: end;
}

.hero-info1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
    position: relative;
}

.artist-title1 {
    display: flex;
    position: absolute;
    bottom: -20px;
}

.artist-title1 a {
    display:flex;
    column-gap: 0px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: 600;
    color: #111;
   
    transition: all 0.3s ease;
}

.artist-title1 a:hover {
    background-color: #e7e7e7;
}

.artist-title1 img {
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 4px solid #fff;
}

.artist-title1 h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.artist-page-info1 {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.artist-page-info1 p {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    text-align: end;
}

/* Section aside contenu latérale */

/* ===== version mobile ===== */

aside.side-content1 {
    display: flex;
    gap: 10px;
    margin-block: 20px;
}

aside.side-content1 > div {
    width: 50%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
}

/* bloc présentation artiste */

.presentation1 h3,
.derniers-morceaux1 h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--clr-sweet-blue);
}

.presentation1 p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-light-dark);
}
.flexLike{
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation1 p.date-naissance1 {
    color: var(--clr-sweet-blue);
    font-weight: 600;
    margin-top: 10px;
}
.fa-comment{
    color:#307AD0

}

/* bloc derniers morceaux */

.derniers-morceaux1 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}

.derniers-morceaux1 > div:not(:last-child) {
    margin-bottom: 10px;
}

.derniers-morceaux1 > div > p {
    font-weight: 600;
}

.derniers-morceaux1 > div > i {
    color: var(--clr-sweet-blue);
    cursor: pointer;
}

/* Section main-content page artiste */

/* ===== version mobile ===== */

section.main1 {
    padding: 10px;
}

section.main-content1 {
    position: relative;
}

div.poster1 {
    margin-bottom: 20px;
}

div.poster1 img {
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
    border: 2px solid #fff;
    z-index: 1;
}

div.poster1 form {
    position: relative;
}
.follow_btn{
    max-width:max-content !important;
    padding-right: 23px !important;
    margin-bottom: 30px;
}

div.poster1 form textarea {
    position: relative;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    border: 1px solid var(--clr-grey);
    border-radius: 30px;
    padding-top: 18px;
    padding-left: 60px;
    min-height: 56px;
    overflow: hidden; /* Cache le défilement */
    resize: none; /* Empêche le redimensionnement manuel */
}

div.poster1 form button {
    border: none;
    outline: none;
    position: absolute;
    top: 46%;
    right: 9px;
    transform: translateY(-50%);
    background-color: var(--clr-sweet-blue) !important; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
}

div.poster1 form button:hover {
    background-color: #2c6aa0;
}

/* bloc post */

div.posts1 {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-grey);
    border-radius: 20px;
    padding: 15px;
}

div.post-head1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

div.post-head1 > div > img {
    
    object-fit: cover;
    border-radius: 50%;
}

div.post-head1 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

div.post-head1 > div > div p:first-child {
    font-weight: 600;
}

div.post-head1 > div > div p:last-child {
    color: var(--clr-sweet-blue);
    font-size: 14px;
}

div.post-head1 > div > div p:last-child span::before {
    content: "•";
    margin-inline: 5px;
}

div.post-head1 > span {
    font-size: 14px;
    cursor: pointer;
    background-color: #E7E7E7B2;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

div.post-head1 > span:hover {
    background-color: #e7e7e7;
}

.post1 article,
.comments1 article {
    font-size: 14px;
    line-height: 1.2;
    color: var(--clr-light-dark);
    padding: 15px;
}

.post1 div.footer1 {
    margin-bottom: 20px;
}

.post1 div.footer1,
.comments1 div.footer1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.comments1 .comment1 {
    border: 1px solid var(--clr-grey);
    border-radius: 20px;
    padding: 15px;
}

.comments1 > div {
    margin-bottom: 10px;
}



@media screen and (min-width: 768px) {
    section.hero {
        height: 220px;
    }
    /* Page album */

    /* ===== version tablette ===== */

    section.album-present {
        flex-direction: row;
        padding: 20px;
        gap: 20px;
    }

    div.album-title > button:first-child {
        display: block;
        font-size: 14px;
        color: var(--clr-light-dark);
    }

    div.detail > div > button {
        margin-left: 10px;
        display: block;
        font-size: 18px;
        color: var(--clr-sweet-blue);
    }

    div.album-title > h1 > button {
        display: none;
    }

    div.album-title > h1 {
        font-size: 40px;
        margin-top: 10px;
    }

    div.album-title {
        align-items: start;
    }

    section.album-present > img {
        height: 180px;
        width: 180px;
    }

    section.main1 {
        padding: 20px;
    }

    section.main-content1 table {
        margin-top: 0;
    }

    section.main-content1 table thead th:nth-child(3) {
        width: 15px;
    }
    
    section.main-content1 table tbody > tr > td:nth-child(4) {
        max-width: 20px;
    }
}

@media screen and (min-width: 1024px) {
    table{
        margin-bottom: 60px;
    }
    main.container1 {
        width: 80%;
    }
    .album-present{
        margin-bottom: 20px;
    }
    .sidebar {
        display: block;
        min-width: 280px;
    }
    section.album-present > img {
        height: 280px;
        width: 280px;
    }
    .centered{
        margin-left: auto;
        margin-right: auto;
        margin-left: 60px;
        
    }
    section.hero {
        height: 380px;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .artist-title1 {
        left: 50px;
        align-items: center;
        gap: 10px;
       
    }

    .artist-title1 img {
        height: 200px;
    }

    .artist-title1 h1 {
        font-size: 40px;
        font-family: "roboto-slab";
        color:#ffffff;
        background: #6e6e6e48;
        border-radius: 10px;
       
    }

    main.container1 {
        padding: 20px;
    }

    .artist-title1 a {
        padding: 7px 15px;
        font-size: 14px;
        width:60%;
    }
}

@media screen and (min-width: 1200px){
    /* Page album */
    div.oeuvres1 > div img {
       margin-bottom: 10px;
    }
    /* ===== version medium desktop ===== */
    .album-title h1 button > i {
       
        display:none;
    }
    div.oeuvres1 {
        
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
       
    }
    .detail i{
        
        display:block;
    }
    section.main1.album {
        display: unset;
    }

    section.main1.album > section {
        max-width: unset;
        margin-top: unset;
    }

    div.album-title > h1 {
        color : #313131;
        font-size: 6.5rem;
        font-family: "Roboto Slab"; 
    }
    .artist-page-info1 {
        flex-direction: row;
        width: 60%;
        justify-content: flex-end;
    }

    .artist-page-info1 p {
        flex-direction: row;
    }
    
    section.main1 {
        display: flex;
        gap: 30px;
    }


    aside.side-content1 {
        flex-direction: column;
        width: 50%;
        max-width: 400px;
        border-right: 2px solid #CDC8C8;
        padding-right: 20px;
    }

    aside.side-content1 > div {
        width: 100%;
    }

    section.main-content1 {
        margin-top: 20px;
        width: 850px;
    }

    div.posts1 {
        border-color: #d8d8d8;
    }

    div.poster1 form textarea {
        border-radius: 10px;
        min-height: 100px;
        border-color: #d8d8d8;
    }

    div.poster1 form button {
        top: 68%;
        padding: 7px 25px;
    }

    div.poster1 {
        margin-bottom: 10px;
    }

    div.post-head1 > span {
        height: 40px;
        width: 40px;
    }

    .comments1 .comment1 {
        border-color: #d8d8d8;
    }

    div.post-head1 > div > img {
        height: 40px;
    }

    div.post-head1 > div > div p:first-child {
        font-size: 14px;
    }
    .follow_btn{
        max-width:max-content !important;
    }
}

@media screen and (min-width: 1440px){
    main.container1 {
        max-width: 1440px;
        margin-inline: auto;
    }
    .follow_btn{
        max-width:max-content !important;
    }
}