{% extends 'base.html.twig' %}

{% block title %}My Chats{% endblock %}

{% block body %}
    <main class="chats">
        <aside>
            <div class="new-chat">
                <h3>Messages</h3>
                <div class="pen">
                    <i class="fas fa-pen"></i>
                </div>
            </div>
            <ul>
                {% if chats is not empty %}
                    {% for chat in chats %}
                        <li class="notif2">
                            <a href="{{ path('app_chat_view', {'id': chat.id}) }}">
                                {% if chat.users is defined %}
                                    {% for user in chat.users %}
                                        {% if user.id != app.user.id %}
                                            <img src="https://picsum.photos/200/300">
                                            <article>
                                                <p>{{ user }}</p>
                                                <p>
                                                    {{ chat.messages[0].content | slice(0, 30) }}
                                                    {% if chat.messages[0].content | length > 30 %}...{% endif %}
                                                </p>
                                            </article>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>Pas de chats disponibles</li>
                {% endif %}
            </ul>
        </aside>
        <section>
            <p>Select a chat to see the messages</p>
        </section>
    </main>
<style>
    main.chats aside {
        display: block;
    }

    main.chats section {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        main.chats section {
            display: block;
        }
    }
</style>
{% endblock %}