{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1>Historique</h1>

    {% for date, historiques in groupedHistoriques %}
        {% if date != 'aujourdhui' %}
            <h2>{{ date }}</h2>
        {% endif %}

        <ul>
            {% for historique in historiques %}
                <li>
                    {{ historique.musique.nom }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No history found.</p>
    {% endfor %}
{% endblock %}
