<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a0cb91d4d8.js" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/lecteur.js') }}"></script>
        <script src="{{ asset('js/like.js') }}"></script>
        {% endblock %}
    </head>
    <body>
            <div>
                <input type="range" id="track" min="0" value="0">
                <span id="elapsed">0:00</span> / <span id="track-time">1:00</span>
            </div>
            <div>
                <audio id="audio"src="{{ asset('uploads/files/Bodysnatchers.mp3' ) }}"></audio>
                <i id="play-button" class="fa-solid fa-circle-play" style="color: #307ad0;"></i>
                <i id="pause-button" class="fa-solid fa-circle-pause" style="color: #307ad0;"></i>
                <i id="stop-button" class="fa-solid fa-circle-stop"></i>
            </div>
            <div>
                <input type="range" id="volume" min="0" max="1" value="1" step="0.01">
                <span id="volume-value">100%</span>
            </div>
            
        {% block body %}
            
        {% endblock %}
    </body>
</html>
