<div {{ attributes }}>
    <button  data-action="live#action"
            data-action-name="addToPlaylist"
            onclick="showToast('Ajout avec succes')">
        <i class="fa-solid fa-plus"></i>
    </button>
</div> 
