<div {{ attributes }}>
    <button  class="like_btn" data-action="live#action"
            data-action-name="toggleLike">
        {% if this.isLiked %}
        <i class="fa-solid fa-heart"></i>
        {% else %}
        <i class="fa-regular fa-heart"></i>
        {% endif %}
    </button>
</div>