<div {{ attributes }}>
    <p>{{ this.nbLike }}</p>
    <button class="carousel-btns like_btn" style="margin-bottom:3px;" data-action="live#action"
            data-action-name="toggleLike">
        {% if this.isLiked %}
        <i class="fa-solid fa-heart"></i>
        {% else %}
        <i class="fa-regular fa-heart"></i>
        {% endif %}
    </button>
</div>