<div class="playlist" {{ attributes }}>
    <div>
        <input type="text" data-model="playlistName">
        <button onclick="showToast('Création et ajout avec succes')" data-action="live#action" data-action-name="handlePlaylist">+</button>
    </div>
    {% if app.user %}
        <ul>
        {% for playlist in app.user.playlists %}
            <li>
                <a href='#'>{{ playlist.nom }}</a> 
                {{ component('AddToPlaylistComponent', {
                'albumId': this.albumId,
                'musiqueId': this.musiqueId,
                'playlistName':playlist.nom, }) }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
     
    
</div>