{% extends 'base.html.twig' %}

{% block title %}Modifier {{playlist.nom}}{% endblock %}

{% block body %}

    <h1 class="subtitle">Modifier la playlist {{playlist.nom}} </h1>
    
    {{form_start(registrationForm) }}
    {{form_end(registrationForm) }}
    

{% endblock %}